#botao_remover {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8em;
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao_remover:hover {
    color: #ffffff;     
    text-decoration: none; 
    background-color: rgb(218, 21, 21);
    transform: scale(1.06);     
}

.botao_editar_participante {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8em;
    background-color: rgb(204, 191, 12);
    border: none;
    padding: 10px 10px; 
    border-radius: 12px; 
    cursor: pointer; 
    display: inline-block; 
}

.botao_editar_participante:hover {
    color: #ffffff;               
    text-decoration: none; 
    background-color: rgb(204, 191, 12);
    transform: scale(1.06);     
}

.btn-whatsapp img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn-whatsapp img:hover {
  transform: scale(1.1);
}