.body-box {
    background-color: rgb(5, 10, 163);
    height: 100%;
}

#nome-usuario {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

#nome-usuario:hover {
    color: black;       
    text-decoration: none; 
    background: none;     
    cursor: pointer;      
    transition: color 0.3s ease; 
}

#botao_editar_R {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgb(204, 191, 12);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao_excluir {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8em;
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao_participantes {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgb(1, 255, 200);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao_adicionar {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgb(49, 224, 6);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#saudacoes {
    color: white;
    font-weight: bold;
    font-size: 1.0em;
}

.box-reuniao {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        box-sizing: border-box;
        }

    .header-box {
        background-color: rgb(26, 109, 187);
    }

  

#box-botao:hover {
    color: #ffffff;        
    text-decoration: none; 
    background: none;      
}

.nome_reunioes {
    color: white;
}
