.body-box {
    margin: 0;
    background-color: rgb(5, 10, 163);
    height: 100%;
}

.sidebar {
            height: 100vh;
            width: 0;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(52, 152, 219, 0.8); /* azul com 80% de opacidade */
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            z-index: 1050;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 24px;
            background: none;
            color: white;
            border: none;
            cursor: pointer;
        }

        .sidebar a {
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            background-color: #0e66d8;
        }

        /* Botão toggle */
        .openbtn {
            font-size: 24px;
            background-color: transparent;
            color: #000;
            border: none;
            margin-right: 15px;
        }

        .header-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: rgb(0, 17, 255);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        }

        #nome-usuario {
            color: #000;
        }

        .content {
            margin-left: 0;
            padding: 20px;
            transition: margin-left 0.5s;
        }

        /* Quando sidebar estiver aberta */
        .sidebar-open .content {
            margin-left: 250px;
        }

#nome-usuario {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

#nome-usuario:hover {
    color: black;       
    text-decoration: none; 
    background: none;     
    cursor: pointer;      
    transition: color 0.3s ease; 
    transform: scale(1.06);
}

#cadastrar_reuniao {
    color: white;
    font-weight: bold;
    font-size: 1.0em;
    background-color: rgb(0, 17, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
}

#cadastrar_reuniao:hover {
    color: #8fa3da;        
    text-decoration: none; 
    background-color: rgb(15, 29, 226);
    transform: scale(1.06);     
}

#botao_editar_R {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgb(204, 191, 12);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao_editar_R:hover {
    color: #ffffff;        
    text-decoration: none; 
    background-color: rgb(204, 191, 12);
    transform: scale(1.06);     
}

#botao_excluir {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8em;
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao_excluir:hover {
    color: #ffffff;        
    text-decoration: none; 
    background-color: rgb(218, 21, 21);
    transform: scale(1.06);     
}

#botao_participantes {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgb(1, 255, 200);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao_participantes:hover {
    color: #ffffff;        
    text-decoration: none; 
    background-color: rgb(18, 224, 180);
    transform: scale(1.06);     
}

#botao_adicionar {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgb(49, 224, 6);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao_adicionar:hover {
    color: #ffffff;        
    text-decoration: none; 
    background-color: rgb(62, 214, 24);
    transform: scale(1.06);     
}

#saudacoes {
    color: white;
    font-weight: bold;
    font-size: 1.0em;
}

.box-reuniao {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        box-sizing: border-box;
        }

    .header-box {
        background-color: rgb(26, 109, 187);
    }

  

#box-botao:hover {
    color: #ffffff;        
    text-decoration: none; 
    background: none;      
}

.nome_reunioes {
    color: white;
}

#sair-sessao:hover {
    color: black;
}

#botao-cancelar-cpf {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8em;
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao-cancelar-cpf:hover {
    color: #ffffff;        
    text-decoration: none; 
    background-color: rgb(218, 21, 21);
    transform: scale(1.06); 
}

#botao-enviar-cpf {
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    background-color: rgb(49, 224, 6);
    border: none;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
}

#botao-enviar-cpf:hover {
    color: #ffffff;        
    text-decoration: none; 
    background-color: rgb(62, 214, 24);
    transform: scale(1.06);
}