/* body {
    background-color: black;
    color: white;
}

.caard {
    background-color: #1e1e1e;
    color: white;
}

.navbar, .dropdown-menu {
    background-color: #1c1c1c;
    color: white;
}

.btn-primary {
    background-color: #0d6efd;
    color: #fff;
} */